path {
  stroke: #ffffff;
  /*stroke-width: 0.25px;
  fill: #ffffff;*/
  opacity: 0.9;
}

div.tooltip {
    color: #000000;
    background-color: #fff;
    border-width: 0.1px;
    border-style: solid;
    border-color: #000000;
    padding: .5em;
    border-radius: 5px;
    opacity: 0.9;
    position: absolute;
    font-family: "Lato", sans-serif;
}

.hidden {
  display: none !important;
}

circle {
  fill: #ff0000;
}

.active {
  fill: #98f5ff;
}

.background {
	background: white;
	fill: white;
}
